@import "tailwindcss";

@theme {
    --font-display: "Geist", "sans-serif";
    --text-xs: 12px;
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    --color-sky-50: #F0F9FF;
    --color-sky-100: #E0F2FE;
    --color-sky-200: #BAE6FD;
    --color-sky-300: #7DD3FC;
    --color-sky-400: #38BDF8;
    --color-sky-500: #0EA5E9;
    --color-sky-600: #0284C7;
    --color-sky-700: #0369A1;
    --color-sky-800: #075985;
    --color-sky-900: #0C4A6E;
    --color-sky-950: #082F49;
    --color-slate-50:#F8FAFC;
    --color-slate-100:#F1F5F9;
    --color-slate-200:#E2E8F0;
    --color-slate-300:#CBD5E1;
    --color-slate-400:#94A3B8;
    --color-slate-500:#64748B;
    --color-slate-600:#475569;
    --color-slate-700:#334155;
    --color-slate-800:#1E293B;
    --color-slate-900:#0F172A;
    --color-slate-950:#020617;
    /* ... */
  }